*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mini_announcement{
    background-color: rgb(151, 100, 33);
    color: white;
    padding: 5px;
   
}

.min-ann{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.phoneNumber{
    display: flex;
   justify-content: space-evenly;

}
.phoneNumber p{
    padding-left: 10px;
}
.mailing{
    display: flex;
    
}
.mailing p{
    padding-left: 10px;
}
.background{
    overflow-x: hidden;
}

/* header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 15%; 
    background: transparent; 
    display: flex;
    justify-content: space-around;
    align-items: center; 
} */
.navbar{
    display: flex;
    background-color: azure;
    color: white;
    /* justify-content:; */
    margin-top: 2%;
    border-radius: 5px;
    padding: 20px;
    
}
.logo{
display: flex;
padding: 0 10px;
}

.logo span{
    color: red; 
}

.navbar a{
    display: inline-block;
    text-decoration: none;
    justify-content: space-b;
    margin-left: 35px;
}
 